In [1]:
# This Python 3 environment comes with many helpful analytics libraries installed
# It is defined by the kaggle/python Docker image: https://github.com/kaggle/docker-python
# For example, here's several helpful packages to load

import numpy as np # linear algebra
import pandas as pd # data processing, CSV file I/O (e.g. pd.read_csv)

# Input data files are available in the read-only "../input/" directory
# For example, running this (by clicking run or pressing Shift+Enter) will list all files under the input directory

import os
for dirname, _, filenames in os.walk('/kaggle/input'):
    for filename in filenames:
        print(os.path.join(dirname, filename))

# You can write up to 20GB to the current directory (/kaggle/working/) that gets preserved as output when you create a version using "Save & Run All" 
# You can also write temporary files to /kaggle/temp/, but they won't be saved outside of the current session

In [2]:
import pandas as pd
import datetime

In [3]:
#create a variable with dates and extracting the weekdays:
a = datetime.datetime.today()

In [4]:
date_list = [a - datetime.timedelta (days = x) for x in range(0,20)]
df = pd.DataFrame (date_list)

In [5]:
df.columns = ['day']

In [6]:
df

                          day
0  2021-03-22 20:11:38.698929
1  2021-03-21 20:11:38.698929
2  2021-03-20 20:11:38.698929
3  2021-03-19 20:11:38.698929
4  2021-03-18 20:11:38.698929
5  2021-03-17 20:11:38.698929
6  2021-03-16 20:11:38.698929
7  2021-03-15 20:11:38.698929
8  2021-03-14 20:11:38.698929
9  2021-03-13 20:11:38.698929
10 2021-03-12 20:11:38.698929
11 2021-03-11 20:11:38.698929
12 2021-03-10 20:11:38.698929
13 2021-03-09 20:11:38.698929
14 2021-03-08 20:11:38.698929
15 2021-03-07 20:11:38.698929
16 2021-03-06 20:11:38.698929
17 2021-03-05 20:11:38.698929
18 2021-03-04 20:11:38.698929
19 2021-03-03 20:11:38.698929

In [7]:
df ['Day'] = df ['day'].dt.day_name()

In [8]:
df.head()

                         day       Day
0 2021-03-22 20:11:38.698929    Monday
1 2021-03-21 20:11:38.698929    Sunday
2 2021-03-20 20:11:38.698929  Saturday
3 2021-03-19 20:11:38.698929    Friday
4 2021-03-18 20:11:38.698929  Thursday

In [9]:
day_map = {
    'Monday' :1,
    'Tuesday':2,
    'Wednesday':3,
    'Thursday':4,
    'Friday':5,
    'Saturday':6,
    'Sunday':7
}

df ['Ordinal_Data'] = df.Day.map(day_map)

In [10]:
df.head(15)

                          day        Day  Ordinal_Data
0  2021-03-22 20:11:38.698929     Monday             1
1  2021-03-21 20:11:38.698929     Sunday             7
2  2021-03-20 20:11:38.698929   Saturday             6
3  2021-03-19 20:11:38.698929     Friday             5
4  2021-03-18 20:11:38.698929   Thursday             4
5  2021-03-17 20:11:38.698929  Wednesday             3
6  2021-03-16 20:11:38.698929    Tuesday             2
7  2021-03-15 20:11:38.698929     Monday             1
8  2021-03-14 20:11:38.698929     Sunday             7
9  2021-03-13 20:11:38.698929   Saturday             6
10 2021-03-12 20:11:38.698929     Friday             5
11 2021-03-11 20:11:38.698929   Thursday             4
12 2021-03-10 20:11:38.698929  Wednesday             3
13 2021-03-09 20:11:38.698929    Tuesday             2
14 2021-03-08 20:11:38.698929     Monday             1